<h1 style="text-align: center; margin-top: 100px">
  Lycée de l'Excellence de Dakar
</h1>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item"
      >
        <a class="nav-link" routerLink="/">Students</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/classes">Classes</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/classrooms">Classrooms</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
