/* .container {
  width: 90vw;
  margin: 100px auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 92px;
} */

a:link,
a:visited {
  color: #333;
}

.active {
  background-color: green;
  color: #fff;
}

.active a:link,
.active a:visited {
  color: #fff !important;
}
