<h2>Student repertory</h2>
<div class="form">
  <div class="form-group">
    <input type="text" [(ngModel)]="studentName" />
  </div>
  <div class="form-group">
    <button (click)="id ? editStudient() : addStudient()" class="btn">
      {{ id ? "Update Student" : "Add Student" }}
    </button>
    <!-- <button *ngIf="!studentName" (click)="addStudient()" class="btn">
      Save
    </button> -->
    <!-- <button *ngIf="studentName" (click)="editStudient()" class="btn">
      Update
    </button> -->
  </div>
</div>

<div class="students-list">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th>{{ student.name }}</th>
        <td>
          <button (click)="updateInput(student.id)" class="btn-edit">
            Edit
          </button>
        </td>
        <td>
          <button (click)="deleteStudent(student.id)" class="btn-delete">
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
