h2 {
  margin: 50px 0;
}

.form-group {
  margin-bottom: 16px;
}

input {
  width: 100%;
  border: 2px solid #bbb;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn-edit,
.btn-delete {
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn-edit {
  background-color: green;
}

.btn-delete {
  background-color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #444;
}
thead tr {
  background-color: #333;
  color: #fff;
}

thead th {
  width: 50%;
}

th,
td {
  padding: 8px 16px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #bbb;
}

tbody tr:nth-child(even) {
  background-color: rgb(198, 240, 114);
}
